<div class="sign-up-wrapper">
  <span>Not a Join user?</span>
  <a class="dark-button" routerLink="/sign-up">Sign up</a>
</div>
<div id="form-wrapper">
  <div class="log-in-box">
    <h1>Log in</h1>
    <div class="log-in-border"></div>
    <form id="log-in-form" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
      <div class="input-wrapper">
        <input
          [(ngModel)]="loginData.username"
          name="username"
          type="text"
          required
          placeholder="Name"
          autofocus
        />
        <img id="email-image" src="/assets/img/email-icon.png" />
      </div>
      <div class="input-wrapper">
        <input
          [(ngModel)]="loginData.password"
          name="password"
          type="password"
          id="password"
          required
          placeholder="Password"
        />
        <img
          id="password-image"
          src="/assets/img/password-icon.png"
          onclick="togglePasswordVisibility()"
        />
      </div>
      <div class="remember-me-box">
        <input type="checkbox" id="remember-me" />
        <span>Remember me</span>
      </div>
      <div class="entry-buttons">
        <button class="dark-button" type="submit">Log in</button>
        <button class="light-button" onclick="setUpGuestLogIn()">
          Guest Log in
        </button>
      </div>
    </form>
  </div>
</div>
