<section>
    <div class="left-section">
        <div class="action-container">
            <button class="add-contact-btn">
                <span>Add new contact</span>
                <img src="/assets/img/add-contact.png" alt="Add Contact">
            </button>
        </div>
        <ul class="contacts-container">
            @for (key of sortedMemberKeys; track $index) {
            <li class="contact-item">
                <div class="contact-leter">{{ key }}</div>
                <ul class="contacts">
                    @for (contact of members()[key]; track $index) {
                    <li class="contact" (click)="onSelectContact(contact)">
                        <div class="badge" [style.background-color]="contact.color">{{ contact.first_name.charAt(0) }}{{
                            contact.last_name.charAt(0) }}</div>
                        <div class="name-container">
                            <p class="name">{{ contact.first_name }} {{ contact.last_name }}</p>
                            <p class="email">{{ contact.email }}</p>
                        </div>
                    </li>
                    }
                </ul>
            </li>
            }
        </ul>
    </div>
    <div class="right-section">
        <header class="contact-headline">
            <h2>Contacts</h2>
            <div class="headline-border"></div>
            <h3>Better with a team</h3>
            <div class="mobile-headline-border"></div>
        </header>
        @if (selectedContact) {
        <div class="contact-info-container">
            <div class="contact-info-headline">
                <div class="headline-badge" [style.background-color]="selectedContact.color">{{
                    selectedContact.first_name.charAt(0) }}{{
                    selectedContact.last_name.charAt(0) }}</div>
                <div class="headline-name-container">
                    <p class="headline-name">{{ selectedContact.first_name }} {{ selectedContact.last_name }}</p>
                </div>
            </div>
            <div class="subheadline">Contact Information</div>
            <div class="contact-info-email">
                <p class="info-email-title">Email</p>
                <p class="info-email">{{ selectedContact.email }}</p>
            </div>
            <div class="contact-info-phone">
                <p class="info-phone-title">Phone</p>
                <p class="info-phone">{{ selectedContact.phone_number }}</p>
            </div>
        </div>
        }
    </div>
</section>