<section>
    <div class="left-section">
        <div class="action-container">
            <button class="add-contact-btn">
                <span>Add new contact</span>
                <img src="/assets/img/add-contact.png" alt="Add Contact">
            </button>
        </div>
        <ul class="contacts-container">
            <li class="contact-item">
                <div class="contact-leter">A</div>
                <ul class="contacts">
                    <li class="contact">
                        <div class="badge">VG</div>
                        <div class="name-container">
                            <p class="name">Velizar Ganchev</p>
                            <p class="email">velizar_hotmail.com</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="contact-item">
                <div class="contact-leter">B</div>
                <ul class="contacts">
                    <li class="contact">
                        <div class="badge">VG</div>
                        <div class="name-container">
                            <p class="name">Velizar Ganchev</p>
                            <p class="email">velizar_hotmail.com</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="contact-item">
                <div class="contact-leter">C</div>
                <ul class="contacts">
                    <li class="contact">
                        <div class="badge">VG</div>
                        <div class="name-container">
                            <p class="name">Velizar Ganchev</p>
                            <p class="email">velizar_hotmail.com</p>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="contact-item">
                <div class="contact-leter">C</div>
                <ul class="contacts">
                    <li class="contact">
                        <div class="badge">VG</div>
                        <div class="name-container">
                            <p class="name">Velizar Ganchev</p>
                            <p class="email">velizar_hotmail.com</p>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="right-section">
        <header class="contact-headline">
            <h2>Contacts</h2>
            <div class="headline-border"></div>
            <h3>Better with a team</h3>
            <div class="mobile-headline-border"></div>
        </header>
        <div class="contact-info-container">
            <div class="contact-info-headline">
                <div class="headline-badge">VG</div>
                <div class="headline-name-container">
                    <p class="headline-name">Velizar Ganchev</p>
                </div>
            </div>
            <div class="subheadline">Contact Information</div>
            <div class="contact-info-email">
                <p class="info-email-title">Email</p>
                <p class="info-email">velizar_ganchev</p>
            </div>
            <div class="contact-info-phone">
                <p class="info-phone-title">Phone</p>
                <p class="info-phone">+23312423</p>
            </div>
        </div>
    </div>
</section>