section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 7rem;

  .add-task-headline {
    font-size: 3rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .content-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 35px;

      .content-left,
      .content-right {
        width: 50%;
        min-height: 350px;
      }

      .content-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title-container,
        .content-description {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        .title-container {
          .title-input-headline {
            display: flex;
            h4 {
              margin: 0;
              font-size: 1rem;
              font-weight: 400;
            }

            .star {
              color: red;
            }
          }
        }

        .content-description {
        }
      }

      .separator-line {
        width: 1px;
        height: 350px;
        background-color: rgb(228, 228, 228);
      }

      .content-right {
      }
    }
  }
}

input,
textarea,
select {
  font-size: 1.3rem;
  padding: 12px 21px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  font-family: inter, sans-serif;
}
