$primary-font: "Inter", sans-serif;
$primary-color: #000;
$accent-color: #ff8190;
$button-bg-color: #2a3647;
$cancel-button-bg: #f6f7f8;
$cancel-button-border: #2a3647;
$input-border-color: #d1d1d1;
$high-priority-color: orangered;
$medium-priority-color: rgb(255, 168, 0);
$low-priority-color: rgb(122, 226, 41);
$border-color: rgb(209, 209, 209);

section {
  width: fit-content;
  margin-top: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-task-headline {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 61px;
  font-weight: 700;
  line-height: 120%;
}

.form-wraper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 442px;

  @media (max-width: 500px) {
    width: 300px;
  }
}

.content-container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: center;

    svg {
      display: none;
    }
  }

  @media (max-width: 500px) {
    width: 100%;
  }
}

.content-title {
  display: flex;
  width: 440px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.subheadline {
  align-self: stretch;
  font-family: $primary-font;
  font-size: 20px;
  display: flex;
}

.star {
  color: $accent-color;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.subcontent {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin: 8px 0px 16px 0px;
}

.date-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 12px;
  font-family: $primary-font;
  font-size: 20px;
  color: $border-color;
  height: 56px;
  max-width: 442px;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

.inputfield {
  max-width: 442px;
  padding: 12px 21px;
  font-family: $primary-font;
  font-size: 20px;
  background-color: white;
  width: 100%;
  outline: none;
  border: 1px solid $input-border-color;
  border-radius: 10px;
}

.textarea {
  max-width: 442px;
  max-height: 107px;
  min-width: 442px;
  min-height: 107px;

  @media (max-width: 500px) {
    min-width: 300px;
    max-width: 300px;
  }
}

.simulateSelectElement {
  color: black;
}

::placeholder {
  color: black;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.selection {
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
  width: 100%;
  outline: none;
}

.selectionOption {
  font-family: $primary-font;
  font-size: 20px;
}

.sub-content-prio {
  display: flex;
  width: 440px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 8px 0px 16px 0px;

  @media (max-width: 500px) {
    width: 300px;
    gap: 4px;
  }
}

.prio-class {
  display: flex;
  padding: 16px 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: white;

  @media (max-width: 500px) {
    gap: 2px;
    padding: 16px 5px;
  }
}

.high-chosen {
  padding: 15.5px 10px !important;
  background-color: $high-priority-color !important;
  font-size: 21px;
  font-weight: 700;
  color: white;
}

.medium-chosen {
  padding: 15.5px 10px !important;
  background-color: $medium-priority-color !important;
  font-size: 21px;
  font-weight: 700;
  color: white;
}

.low-chosen {
  padding: 15.5px 10px !important;
  background-color: $low-priority-color !important;
  font-size: 21px;
  font-weight: 700;
  color: white;
}

.required-text {
  display: flex;
  color: $primary-color;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.cancel-button {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid $cancel-button-border;
  background: $cancel-button-bg;
  color: $cancel-button-border;
  font-family: $primary-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;

  @media (max-width: 1400px) {
    display: none;
  }
}

.create-task-button {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 10px;
  background: $button-bg-color;
  color: #fff;
  font-family: $primary-font;
  font-size: 21px;
  font-weight: 700;
  line-height: 120%;

  @media (max-width: 500px) {
    font-size: 16px;
    padding: 8px;
  }

  @media (max-width: 410px) {
    width: 150px;
    font-size: 14px;
  }
}

.hover:hover {
  cursor: pointer;
}

.subtask-input {
  border: 1px solid $border-color;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 442px;
  background-color: white;
}

.subtask-img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  z-index: 901;

  &:hover {
    cursor: pointer;
  }
}

.subtasks-imgages-container {
  display: flex;
  margin-right: 8px;
}

.vertical-line {
  width: 2px;
  height: 20px;
  background-color: $border-color;
  margin: 0 4px 0 0;
}

.subtask-list li {
  display: flex;
  justify-content: space-between;
}

.subtask-container-edit {
  display: flex;
  gap: 10px;
}

.subtasks {
  border-radius: 10px;
  border: none !important;
  padding: 12px 21px;
  font-family: $primary-font;
  font-size: 20px;
  background-color: white;
}

// .overlay {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     z-index: 900;
//     height: 100vh;
//     width: 100vw;
// }

.arrow {
  width: 25px;
}

.assigned-to-container-input {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid $input-border-color;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.date-img {
  width: 25px;
}

.date {
  color: black;
}

#date {
  border: none;
}

.confirmation-content {
  font-family: $primary-font;
  position: absolute;
  top: 89px;
  bottom: 0px;
  right: 0px;
  left: 232px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 901;
}

.container-for-all-chosen-contacts {
  height: 150px;
  display: flex;
  margin-top: 4px;
  margin-left: 4px;
  flex-wrap: wrap;
  z-index: 990;
}

.container-for-all-possible-contacts {
  position: absolute;
  top: 637px;
  width: 440px;
  height: 200px;
  overflow-y: scroll;
  background-color: white;

  @media (max-width: 500px) {
    top: 590px;
    width: 300px;
  }
}

.contact {
  padding: 4px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba(240, 240, 240, 1);
  }
}

.circle {
  border-radius: 180px;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-name {
  margin-left: -130px;

  @media (max-width: 500px) {
    margin-left: 0;
  }
}

.check-boxes {
  margin-right: 50px;
  height: 20px;
  width: 20px;
}

.delete-button {
  border-radius: 10px;
  padding: 2px;
  border: 2px solid $border-color;
  color: white;
  font-weight: bold;
  background-color: $button-bg-color;
}

.categories {
  position: absolute;
  top: 607px;
  width: 440px;
  z-index: 901;
  background-color: white;
  margin-top: -10px;

  @media (max-width: 500px) {
    top: 338px;
  }

  @media (max-width: 1200px) {
    top: 577px;
  }
}

.category {
  font-family: $primary-font;
  font-size: 20px;
  height: 56px;
  max-width: 442px;
  background-color: white;
  display: flex;
  align-items: center;
  color: black;
  z-index: 901;

  &:hover {
    background-color: rgba(240, 240, 240, 1);
  }
}

.buttons-and-info-text {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: margin 200ms ease-in-out;

  @media (max-width: 1400px) {
    justify-content: center;
    gap: 100px;
    margin-bottom: 70px;
    margin-top: 20px;
  }

  @media (max-width: 1200px) {
    margin-bottom: 150px;
  }
}
