.main-board {
    width: fit-content;

    .board-header {
        padding-right: 1rem;

        .board-header-container {
            height: 73px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .board-title h1 {
                margin: 0px;
                font-family: 'Inter', sans-serif;
                font-size: 61px;
                line-height: 73px;
                font-weight: 700;
            }

            .action-container {
                display: flex;
                align-items: center;
                gap: 32px;

                form {
                    width: 312px;
                    height: 48px;
                    padding: 8px 16px;
                    background-color: #ffff;
                    display: flex;
                    justify-content: space-evenly;
                    gap: 10px;
                    border: 1px solid #A8A8A8;
                    border-radius: 10px;

                    input,
                    button {
                        height: 100%;
                    }

                    input {
                        background-color: #ffff;
                        border: none;
                        outline: none;
                        padding: 0px;
                        flex-grow: 1;

                        &::placeholder {
                            color: #D1D1D1;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }

                    input[type="text"] {
                        font-size: 20px;
                    }

                    button {
                        cursor: pointer;
                        padding: 0px;
                        background-color: #ffff;
                        border: none;
                        outline: none;

                        img {
                            color: #2A3647;

                            &:hover {
                                border: none;
                                border-radius: 50px;
                                background-color: #D9D9D9;
                            }
                        }
                    }
                }

                .add-task-button {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    text-decoration: none;
                    width: 160px;
                    height: 48px;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 25.2px;
                    color: #FFFFFF;
                    padding: 8px 16px;
                    background-color: #2A3647;
                    border: 1px solid #2A3647;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: transform 100ms ease-in-out;

                    &:hover {
                        border: none;
                        background-color: #0D99FF;
                        transform: translateX(-1px);
                        box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.5);
                    }
                }
            }
        }

        .board-nav-bar-container {
            width: 100%;
            height: 24px;
            margin-top: 54px;
            display: flex;
            align-items: baseline;
            justify-content: flex-start;
            gap: 20px;

            .board-nav-item {
                width: 244px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-left: 18px;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                color: #42526E;

                button {
                    border: none;
                    background-color: inherit;
                    cursor: pointer;
                }
            }
        }
    }
}


.add-task-rsponsive-btn {
    display: none;
}


// .search-bar {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     border: 1px solid black;
//     border-radius: 10px;
// }


// .buttonsAndInfotext {
//     position: relative;
//     width: auto;
//     margin-top: 25px !important;
// }

// .CompleteContent {
//     gap: 20px;
// }

// .Content {
//     gap: 30px;
// }

// .Content2 {
//     top: 0px;
//     margin-top: 0px !important;
// }

// .categories {
//     width: 450px;
//     top: 538px;
// }


// .ContainerForAllPossibleContacts {
//     position: relative;
//     top: 0 !important;
// }

// .assignedToContainerInputEdit {
//     width: 100%;
// }

/* BOARD DISTRIBUTION */

.board-distribution-container {
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 7.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* display: flex;
    align-items: center; */
    gap: 16px;

    .responsive-board-nav-item-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 8px;
        border-radius: 10px;
        background-color: whitesmoke;
        box-shadow: 0 2px 10px 0 #00000014;


        .responsive-board-nav-item {
            width: 100%;
            margin: 1.1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            font-weight: 700;
            line-height: 32.4px;
            color: #42526E;

            button {
                border: none;
                background-color: inherit;
                cursor: pointer;
            }

        }

        .board-distribution-colum {
            width: auto;
            min-height: 50dvh;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            /* padding: 0 64px; */
            /* border: 1px solid black; */
        }
    }
}

.no-task-card-container {
    width: 252px;
    height: 48px;
    text-align: center;
    color: #A8A8A8;
    background-color: #E7E7E7;
    border: 1px dotted #A8A8A8;
    border-radius: 24px;
}

.no-task-card-container h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}