<section class="main-board">
  <div class="board-header">
    <div class="board-header-container">
      <div class="board-title">
        <h1>Board</h1>
        <button (click)="openAddTask('')" class="add-task-rsponsive-btn">
          <img src="../assets/img/board/plus-add-task-mobile.svg" alt="Plus" />
        </button>
      </div>
      <div class="action-container">
        <form onsubmit="search(event)">
          <input
            id="search-text"
            type="text"
            minlength="3"
            required
            placeholder="Find Task"
          />
          <img src="../assets/img/board/vector3.svg" alt="Vector" />
          <button id="search-button" class="search-button-container">
            <img src="../assets/img/board/search.svg" alt="Search" />
          </button>
        </form>
        <button
          href="/html/add_task.html"
          class="add-task-button"
          (click)="openAddTask('')"
        >
          Add task <img src="../assets/img/board/add.svg" alt="" />
        </button>
      </div>
    </div>
    <!-- <div class="board-nav-bar-container">
            <div class="board-nav-item">
                <span>To do</span>
                <button (click)="openAddTask('todo')">
                    <img src="../assets/img/board/plus-button.svg" alt="Plus">
                </button>
            </div>
            <div class="board-nav-item">
                <span>In progress</span>
                <button (click)="openAddTask('in-progress')">
                    <img src="../assets/img/board/plus-button.svg" alt="">
                </button>
            </div>
            <div class="board-nav-item">
                <span>Await feedback</span>
                <button (click)="openAddTask('await-feedback')">
                    <img src="../assets/img/board/plus-button.svg" alt="">
                </button>
            </div>
            <div class="board-nav-item">
                <span>Done</span>
            </div>
        </div> -->
  </div>
  <div class="board-distribution-container" id="board-distribution">
    <div class="responsive-board-nav-item-container">
      <div class="responsive-board-nav-item">
        <span>To do</span>
        <button (click)="openAddTask('todo')">
          <img src="../assets/img/board/plus-button.svg" alt="Plus" />
        </button>
      </div>
      <div
        class="board-distribution-colum"
        id="todo"
        (mouseleave)="removeHighlight('todo')"
        (drop)="moveTo('todo')"
        (dragleave)="removeHighlight('todo')"
        (dragover)="allowDrop($event); highlight('todo')"
      >
        @for (task of getTaskByStatus('todo'); track $index) {
        <app-task [taskId]="task.id" />
        }
      </div>
    </div>
    <div class="responsive-board-nav-item-container">
      <div class="responsive-board-nav-item">
        <span>In progress</span>
        <button (click)="openAddTask('in-progress')">
          <img src="../assets/img/board/plus-button.svg" alt="Plus" />
        </button>
      </div>
      <div
        class="board-distribution-colum"
        id="in-progress"
        (mouseleave)="removeHighlight('in-progress')"
        (drop)="moveTo('in-progress')"
        (dragleave)="removeHighlight('in-progress')"
        (dragover)="allowDrop($event); highlight('in-progress')"
      >
        @for (task of getTaskByStatus('in_progress'); track $index) {
        <app-task [taskId]="task.id" />
        }
      </div>
    </div>
    <div class="responsive-board-nav-item-container">
      <div class="responsive-board-nav-item">
        <span>Await feedback</span>
        <button (click)="openAddTask('await-feedback')">
          <img src="../assets/img/board/plus-button.svg" alt="Plus" />
        </button>
      </div>
      <div
        class="board-distribution-colum"
        id="await-feedback"
        (mouseleave)="removeHighlight('await-feedback')"
        (drop)="moveTo('await-feedback')"
        (dragleave)="removeHighlight('await-feedback')"
        (dragover)="allowDrop($event); highlight('await-feedback')"
      >
        @for (task of getTaskByStatus('await_feedback'); track $index) {
        <app-task [taskId]="task.id" />
        }
      </div>
    </div>
    <div class="responsive-board-nav-item-container">
      <div class="responsive-board-nav-item">
        <span>Done</span>
      </div>
      <div
        class="board-distribution-colum"
        id="done"
        (mouseleave)="removeHighlight('done')"
        (drop)="moveTo('done')"
        (dragleave)="removeHighlight('done')"
        (dragover)="allowDrop($event); highlight('done')"
      >
        @for (task of getTaskByStatus('done'); track $index) {
        <app-task [taskId]="task.id" />
        }
      </div>
    </div>
  </div>
</section>
