@import "../../../styles.scss";

section {
  height: 100dvh;
  display: flex;

  .main-content {
    width: 100%;

    .content {
      height: 40rem;
      overflow-y: scroll;
      @include scrollbar();

    }
  }
}