.drop-toggle-wraper {
    position: relative;
}

.drop-toggle {
    font-size: 1.3rem;
    background-color: #fff;
    border: none;
    padding: 12px 21px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100%;
    // text-align: left;
}

.drop-show {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.2rem;
    width: 98%;
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #BABABA;
    position: absolute;
    z-index: 100;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.drop-show label {
    padding: 0 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    font-size: 15px;
    cursor: pointer;

    .drop-show-name-container {
        display: flex;
        align-items: center;
        gap: 1rem;

        .drop-show-badge {
            width: 2.5rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            color: white;
        }

        .drop-show-name {
            font-size: 1rem;
        }
    }
}

.drop-show label input {
    vertical-align: top;
}

.drop-show label span {
    display: inline-block;
}

.checked-contact-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 12px;

    .checked-contact {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        color: white;
    }
}