@import "../../../styles.scss";

.content {

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    margin: 1rem 7rem 1rem 7rem;
    background: inherit;

    .summary-headline {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4rem;

        h1 {
            font-size: 3rem;
            margin: 0.5rem 0;
        }

        h2 {
            font-size: 1.4rem;
            font-weight: 400;
        }

        .headline-border {
            border: 2px solid #29ABE2;
            height: 70%;
            border-radius: 10px;
        }

        .mobile-headline-border {
            display: none;
        }
    }

    .summary-box {
        width: 100%;
        display: flex;

        .summary-content {
            width: 65%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0 1.2rem;

            .summary-top {
                display: flex;
                gap: 4rem;

                .summary-top-item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    border-radius: 30px;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
                    transition: all 100ms ease-in-out;
                    gap: 0.9rem;
                    height: 8rem;
                    width: 50%;
                    text-decoration: none;
                    color: black;

                    .summary-top-item-image {
                        background-color: #2A3647;
                        border-radius: 100%;
                        width: 3rem;
                        height: 3rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                        img {
                            width: 1.3rem;
                        }
                    }

                    .summary-top-item-content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h4 {
                            font-size: 2.5rem;
                            font-weight: 600;
                            margin: 0;
                        }

                        h5 {
                            font-size: 1rem;
                            font-weight: 400;
                            margin: 0;
                            color: #2A3647;
                        }
                    }
                }
            }

            .summary-middle {
                width: 100%;
                display: flex;
                align-items: center;
                background-color: white;
                border-radius: 30px;
                box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
                transition: all 100ms ease-in-out;
                gap: 1.2rem;
                height: 8rem;
                text-decoration: none;
                color: black;

                .upcoming-task {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: inherit;
                    border-radius: 30px;
                    gap: 0.9rem;
                    width: 50%;

                    .upcoming-task-img-container {
                        background-color: #2A3647;
                        border-radius: 100%;
                        width: 3rem;
                        height: 3rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                        img {
                            width: 1.3rem;
                        }
                    }

                    .upcoming-task-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h4 {
                            font-size: 2.5rem;
                            font-weight: 600;
                            margin: 0;
                        }

                        h5 {
                            font-size: 1rem;
                            font-weight: 400;
                            margin: 0;
                            color: #2A3647;
                        }
                    }
                }

                .upcoming-task-seperator {
                    border: 2px solid #d1d1d1;
                    height: 70%;
                    border-radius: 10px;
                }

                .upcoming-task-deadline {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.9rem;
                    background-color: inherit;
                    border-radius: 30px;
                    width: 50%;

                    h4 {
                        font-size: 1rem;
                        font-weight: 700;
                        margin: 0;
                    }

                    h5 {
                        font-size: 1rem;
                        font-weight: 400;
                        margin: 0;
                        color: #2A3647;
                    }
                }
            }

            .summary-bottom {
                display: flex;
                gap: 3rem;

                a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: white;
                    border-radius: 30px;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
                    transition: all 100ms ease-in-out;
                    gap: 0.6rem;
                    height: 8rem;
                    flex-grow: 1;
                    text-decoration: none;
                    color: black;

                    h4 {
                        font-size: 2.5rem;
                        font-weight: 600;
                        margin: 0;
                    }

                    h5 {
                        font-size: 1rem;
                        font-weight: 400;
                        margin: 0;
                        color: #2A3647;
                    }
                }
            }
        }

        .summary-welcome-container {
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.9rem;
            padding: 0 1.2rem;

            .welcome {
                margin: 0;
                font-size: 1.9rem;
            }

            .welcome-name {
                margin: 0;
                color: #29abe2;
                font-size: 3rem;
                font-weight: 700;
            }
        }
    }
}