<div class="content">
    <header class="summary-headline">
        <h1>Summery</h1>
        <div class="headline-border"></div>
        <h2>Key metrics at a glance</h2>
        <div class="mobile-headline-border"></div>
    </header>
    <div class="summary-box">
        <div class="summary-content">
            <div class="summary-top">
                <a href="board.html" class="summary-top-item">
                    <div class="summary-top-item-image">
                        <img src="/assets/img/to-do-icon-white.png">
                    </div>
                    <div class="summary-top-item-content">
                        <h4>7</h4>
                        <h5>To-do</h5>
                    </div>
                </a>
                <a href="board.html" class="summary-top-item">
                    <div class="summary-top-item-image">
                        <img src="/assets/img/hook-icon-white.png">
                    </div>
                    <div class="summary-top-item-content">
                        <h4>3</h4>
                        <h5>Done</h5>
                    </div>
                </a>
            </div>
            <a href="#" class="summary-middle">
                <div class="upcoming-task">
                    <div class="upcoming-task-img-container">
                        <img src="/assets/img/PrioHighWhite.png">
                    </div>
                    <div class="upcoming-task-container">
                        <h4 id="upcoming-tasks-amount">1</h4>
                        <h5 id="upcoming-prio">Medium</h5>
                    </div>
                </div>
                <div class="upcoming-task-seperator"></div>
                <div class="upcoming-task-deadline">
                    <h4>27 April, 2024</h4>
                    <h5>Upcoming deadline</h5>
                </div>
            </a>
            <div class="summary-bottom">
                <a href="#">
                    <h4 id="tasks-amount">13</h4>
                    <h5>Tasks in <br> board</h5>
                </a>
                <a href="#">
                    <h4 id="in-progress-amount">10</h4>
                    <h5>Tasks in <br> progress</h5>
                </a>
                <a href="#">
                    <h4 id="awaiting-feedback-amount">4</h4>
                    <h5>Awaiting <br> feedback</h5>
                </a>
            </div>
        </div>
        <div class="summary-welcome-container">
            <p class="welcome">Good evening,</p>
            <p class="welcome-name">GUEST</p>
        </div>
    </div>
</div>