<div class="content">
    <header class="summary-headlines">
        <h1>
            Join 360
        </h1>
        <div class="headline-border"></div>
        <h2>Key metrics at a glance</h2>
        <div class="mobile-headline-border"></div>
    </header>
    <div class="summary-box">
        <div class="summary-content">
            <div class="summary-bottom-third">
                <a href="board.html" class="to-do-amount">
                    <div class="to-do-image">
                        <img id="to-do-image" src="/assets/img/to-do-icon-white.png">
                    </div>
                    <div>
                        <h4 id="to-do-amount"></h4>
                        <h5>To-do</h5>
                    </div>
                </a>
                <a href="board.html" class="done-amount">
                    <div class="done-image">
                        <img id="done-image" src="/assets/img/hook-icon-white.png">
                    </div>
                    <div>
                        <h4 id="done-amount"></h4>
                        <h5>Done</h5>
                    </div>
                </a>
            </div>
            <a href="board.html" class="summary-middle-third">
                <div class="upcoming-task">
                    <div id="upcoming-prio-image-wrapper">
                        <img id="upcoming-prio-image" src="/assets/img/PrioHighWhite.png">
                    </div>
                    <div>
                        <h4 id="upcoming-tasks-amount"></h4>
                        <h5 id="upcoming-prio"></h5>
                    </div>
                </div>
                <div class="upcoming-seperator"></div>
                <div class="upcoming-deadline">
                    <h4 id="upcoming-date"></h4>
                    <h5 id="upcoming-message"></h5>
                </div>
            </a>
            <div class="summary-top-third">
                <a href="board.html">
                    <h4 id="tasks-amount"></h4>
                    <h5>Tasks in <br> board</h5>
                </a>
                <a href="board.html">
                    <h4 id="in-progress-amount"></h4>
                    <h5>Tasks in <br> progress</h5>
                </a>
                <a href="board.html">
                    <h4 id="awaiting-feedback-amount"></h4>
                    <h5>Awaiting <br> feedback</h5>
                </a>
            </div>
        </div>
    </div>
</div>