<div class="card-container" draggable="true" (dragstart)="startDragging(taskId())" id="cardId">
  <div class="card">
    <button class="card-label">{{ task?.category }}</button>
    <h3 class="card-title">{{ task?.title }}</h3>
    <p class="card-content">{{ task?.description }}</p>

    <div id="'progress' + task.id" class="progress-bar-container">
      <div class="progress-bar">
        <div class="progress-done" id="'progress' + task.id"></div>
      </div>
      <p class="subtasks-container">1/4 Subtasks</p>
    </div>

    <div class="card-footer">
      <div class="profiles" id="'tasksProfiles' + task.id">
        <div class="profile">KZ</div>
      </div>
      <div class="priority-container">
        <img src="/assets/img/PrioLow.png" alt="Priority Icon" />
      </div>
    </div>
  </div>
</div>