<div id="form-wrapper">
  <div class="sign-up-box">
    <button class="arrow-left scale-on-hover" onclick="renderLogIn()">
      <img src="/assets/img/arrow-left-line.png" />
    </button>
    <h1>Sign up</h1>
    <div class="headline-border"></div>
    <form id="sign-up-form" onsubmit="validatePassword(); return false;">
      <div class="input-wrapper">
        <input
          type="text"
          id="name"
          required
          placeholder="Name"
          oninput="checkSignUpForm()"
          autofocus
        />
        <img id="email-image" src="/assets/img/name-icon.png" />
      </div>
      <div class="input-wrapper">
        <input
          type="email"
          id="email"
          required
          placeholder="Email"
          oninput="checkSignUpForm()"
        />
        <img id="email-image" src="/assets/img/email-icon.png" />
      </div>
      <div class="input-wrapper">
        <input
          type="password"
          id="password"
          required
          placeholder="Password"
          minlength="8"
          autocomplete="new-password"
          oninput="checkIfEmpty('password', 'password-image'); checkSignUpForm();"
        />
        <img
          id="password-image"
          src="/assets/img/password-icon.png"
          onclick="togglePasswordVisibility('password', 'password-image')"
        />
      </div>
      <div class="input-wrapper">
        <input
          type="password"
          id="confirm-password"
          required
          placeholder="Confirm password"
          oninput="checkIfEmpty('confirm-password', 'confirm-password-image'); checkSignUpForm();"
        />
        <img
          id="confirm-password-image"
          src="/assets/img/password-icon.png"
          onclick="togglePasswordVisibility('confirm-password', 'confirm-password-image')"
        />
      </div>
      <p id="password-message" class="hide">
        Ups! Your password doesn't match.
      </p>
      <div class="privacy-policy-box">
        <input
          type="checkbox"
          id="privacy-policy-checkbox"
          required
          onclick="checkSignUpForm()"
        />
        <span>I accept the</span>
        <a class="scale-on-hover" href="privacy_policy.html">Privacy Policy</a>
      </div>
      <div class="entry-buttons">
        <button
          id="sign-up-button"
          class="dark-button disabled-button"
          type="submit"
          disabled
        >
          Sign up
        </button>
      </div>
    </form>
  </div>
</div>
<div id="confirmation-wrapper"></div>
<p id="sign-up-confirmation" class="confirmation-message">
  You signed up successfully
</p>
