.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 103px;
  width: fit-content;
  height: 100dvh;
  background: #2a3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 1270px) {
    position: absolute;
    bottom: 0px;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
  }

  .join-logo {
    margin: 66px 66px 0px 66px;

    @media (max-width: 1270px) {
      display: none;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 65%;

    .nav-items-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;

      @media (max-width: 1270px) {
        flex-direction: row;
      }

      .nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #cdcdcd;
        padding: 8px 57px;
        gap: 20px;
        height: 54px;
        text-decoration: none;

        @media (max-width: 1270px) {
          height: 32px;
        }

        &:hover {
          background-color: #2a3d59;
          color: white !important;
          border-radius: 16px;
        }
      }
    }

    .legal-and-privacy-notes {
      @media (max-width: 1270px) {
        display: none;
      }

      .bottom-nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
        width: 231px;
        color: #cdcdcd;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: #29abe2 !important;
        }
      }
    }
  }
}

.scale-on-hover {}

.active {
  background-color: #091931;
  color: white !important;
  pointer-events: none;
}