.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 103px;
    position: fixed;
    width: fit-content;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;

    .join-logo {
        margin: 66px 66px 0px 66px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: fit-content;
        height: 65%;

        .nav-items-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;

            .nav-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                color: #CDCDCD;
                padding: 8px 57px;
                gap: 20px;
                height: 54px;
                text-decoration: none;

                &:hover {
                    background-color: #2A3D59;
                    color: white !important;
                    border-radius: 16px;
                }
            }
        }

        .legalAndPrivacyNotes {
            .bottom-nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                padding-top: 16px;
                padding-bottom: 16px;
                width: 231px;
                color: #CDCDCD;
                cursor: pointer;
                text-decoration: none;

                &:hover {
                    color: #29ABE2 !important;
                }
            }
        }
    }
}


.scale-on-hover {}

.active {
    background-color: #091931;
    color: white !important;
    pointer-events: none;
}