<app-header />
<div class="side-bar">
  <img id="joinLogoSideBar" class="join-logo" src="/assets/img/join-logo.png" />
  <nav>
    <div id="nav-bar" class="nav-items-container">
      <a id="summary" href="#" class="nav-item active">
        <img src="/assets/img/summary-icon.png" />
        <span>Summary</span>
      </a>
      <a id="add-task" href="#" class="nav-item">
        <img src="/assets/img/add-task-icon.png" />
        <span>Add Task</span>
      </a>
      <a id="board" href="#" class="nav-item">
        <img src="/assets/img/board-icon.png" />
        <span>Board</span>
      </a>
      <a id="contacts" href="#" class="nav-item">
        <img src="/assets/img/contacts-icon.png" />
        <span>Contacts</span>
      </a>
    </div>
    <div class="legalAndPrivacyNotes">
      <a id="privacy-policy" href="#" class="bottom-nav-item scale-on-hover">
        <span>Privacy policy</span>
      </a>
      <a id="legal-notice" href="#" class="bottom-nav-item scale-on-hover">
        <span>Legal notice</span>
      </a>
    </div>
  </nav>
</div>
