<div class="side-bar">
  <img class="join-logo" src="/assets/img/join-logo.png" />
  <nav>
    <div id="nav-bar" class="nav-items-container">
      <a id="summary" routerLink="/summery" class="nav-item">
        <img src="/assets/img/summary-icon.png" />
        <span>Summary</span>
      </a>
      <a id="add-task" routerLink="/add-task" class="nav-item">
        <img src="/assets/img/add-task-icon.png" />
        <span>Add Task</span>
      </a>
      <a id="board" routerLink="/board" class="nav-item">
        <img src="/assets/img/board-icon.png" />
        <span>Board</span>
      </a>
      <a id="contacts" routerLink="/contacts" class="nav-item">
        <img src="/assets/img/contacts-icon.png" />
        <span>Contacts</span>
      </a>
    </div>
    <div class="legal-and-privacy-notes">
      <a
        id="privacy-policy"
        routerLink="/privacy-policy"
        class="bottom-nav-item scale-on-hover"
      >
        <span>Privacy policy</span>
      </a>
      <a
        id="legal-notice"
        routerLink="/legal-notice"
        class="bottom-nav-item scale-on-hover"
      >
        <span>Legal notice</span>
      </a>
    </div>
  </nav>
</div>
