<header class="header">
    <span class="title">Kanban Project Management Tool</span>
    <a href="#"><img id="responsiveJoinLogoDark" src="/assets/img/join-logo-dark-responsive.png"
            alt="join logo"></a>
    <div class="header-icons">
        <a id="help" class="scale-on-hover" href="#"><img src="/assets/img/question-mark-icon.png"></a>
        <img class="scale-on-hover" src="/assets/img/guest-profile-icon.png"
            onclick="toggleClass('profile-nav-wrapper', 'hide')">
    </div>
</header>

<!-- <div id="profile-nav-wrapper" class="hide" onclick="toggleClass('profile-nav-wrapper', 'hide')">
    <div class="profile-nav">
        <a href="#" onclick="toggleClass('profile-nav-wrapper', 'hide')">Legal notice</a> <br>
        <a href="#" onclick="toggleClass('profile-nav-wrapper', 'hide')">Privacy policy</a> <br>
        <a href="#" onclick="logOut()">Log out</a>
    </div>
</div> -->

<div class="side-bar">
    <img id="joinLogoSideBar" class="join-logo" src="/assets/img/join-logo.png">
    <nav>
        <div id="nav-bar" class="nav-items-container">
            <a id="summary" href="#" class="nav-item active">
                <img src="/assets/img/summary-icon.png">
                <span>Summary</span>
            </a>
            <a id="add-task" href="#" class="nav-item">
                <img src="/assets/img/add-task-icon.png">
                <span>Add Task</span>
            </a>
            <a id="board" href="#" class="nav-item">
                <img src="/assets/img/board-icon.png">
                <span>Board</span>
            </a>
            <a id="contacts" href="#" class="nav-item">
                <img src="/assets/img/contacts-icon.png">
                <span>Contacts</span>
            </a>
        </div>
        <div class="legalAndPrivacyNotes">
            <a id="privacy-policy" href="#" class="bottom-nav-item scale-on-hover">
                <span>Privacy policy</span>
            </a>
            <a id="legal-notice" href="#" class="bottom-nav-item scale-on-hover">
                <span>Legal notice</span>
            </a>
        </div>
    </nav>
</div>