.side-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  width: 12rem;
  height: 100dvh;
  background: #2a3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 1270px) {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    flex-direction: row;
    justify-content: center;
  }

  .join-logo {
    margin-top: 4rem;
    width: 4.2rem;

    @media (max-width: 1270px) {
      display: none;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 70%;

    @media (max-width: 1270px) {
      align-items: center;
    }

    .nav-items-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;
      font-size: 1rem;

      @media (max-width: 1270px) {
        flex-direction: row;
      }

      .nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: #cdcdcd;
        padding: 0.5rem;
        gap: 20px;
        width: 10rem;
        height: 3.5rem;
        text-decoration: none;

        @media (max-width: 1270px) {
          height: 1.8rem;
          padding: 0.8rem;
        }

        &:hover {
          background-color: #2a3d59;
          color: white !important;
          border-radius: 16px;
        }

        img {
          width: 1.2rem;
        }
      }
    }

    .legal-and-privacy-notes {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: 1270px) {
        display: none;
      }

      .bottom-nav-item {
        padding: 1rem;
        color: #cdcdcd;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          color: #29abe2 !important;
        }
      }
    }
  }
}

.scale-on-hover {}

.active {
  background-color: #091931;
  color: white !important;
  pointer-events: none;
}